.o-basic-main-visual
  background-color: $main
  +position(relative)
  &::before
    content: ""
    +position(absolute, left 0, top 0)
    +size(100%)
    background-image: image_url("main-visual.svg")
    background-size: 20%
    background-repeat: repeat
    opacity: .4
    background-position: center

.o-basic-main-visual__inner
  height: 32rem
  +position(relative, 1)
  color: $reversal-text
  display: flex
  align-items: center

.o-basic-main-visual__title
  font-size: 3rem
  font-weight: 700
  line-height: 1.35
