.o-basic-main-visual
  background-color: $main
  background: rgb(79,60,204)
  background: linear-gradient(160deg, rgba(79,60,204,1) 0%, rgba(78,215,132,1) 100%)

.o-basic-main-visual__inner
  height: 30rem
