.o-horizontal-articles
  .m-articles-article
    font-size: 1.25rem
  a.m-articles-article
    border-radius: .25rem
    border: solid 1px $border
    overflow: hidden
    &:hover
      border-color: $primary
      box-shadow: rgba($primary, .2) 0 0 0 2px
  .m-article-attributes__list
    font-size: .875rem
  .m-article-attributes
    padding: .75rem 1rem
