.o-horizontal-medias
  .m-medias-media
    font-size: 1.25rem
  a.m-medias-media
    border-radius: .25rem
    overflow: hidden
    border: solid 1px $border
    +block-hover
  .m-media-attributes__list
    font-size: .875rem
  .m-media-attributes
    padding: .75rem 1rem
