.o-lp-content__inner
  +padding(vertical, 4rem)

.o-lp-content__header
  margin-bottom: 1em
  font-size: 3rem
  .m-article-meta
    font-size: .33em
    margin-top: 1em

.o-lp-content__body
  .o-lp-content__body + &
    margin-top: 3rem

.o-lp-content__title
  +text-block(1em 1.4 -.1875em, 700 center)

.o-lp-content__sub-title
  +text-block(.5em 1.4 .75em, 700 center)

.o-lp-content__row
  .o-lp-content__row + &
    margin-top: 3rem

.o-lp-content__main-image-container
  +size(100% 35rem)

.o-lp-content__main-image
  +size(100%)
  object-fit: cover
