.a-button
  +button-base

  // color
  &.is-primary
    +button-color($primary)
  &.is-secondary
    +button-color($secondary)
  &.is-info
    +button-color($info)
  &.is-success
    +button-color($success)
  &.is-warning
    +button-color($warning)
  &.is-danger
    +button-color($danger)
  &.is-disabled
    +button-color($disabled)
    pointer-events: none

  // border-color
  &.is-border-primary
    +button-border-color($primary)
  &.is-border-secondary
    +button-border-color($secondary)
  &.is-border-info
    +button-border-color($info)
  &.is-border-success
    +button-border-color($success)
  &.is-border-warning
    +button-border-color($warning)
  &.is-border-danger
    +button-border-color($danger)
  &.is-border-disabled
    +button-border-color($disabled)
    pointer-events: none

  // 3d-color
  &.is-3d-primary
    +button-3d-color($primary)
  &.is-3d-secondary
    +button-3d-color($secondary)
  &.is-3d-info
    +button-3d-color($info)
  &.is-3d-success
    +button-3d-color($success)
  &.is-3d-warning
    +button-3d-color($warning)
  &.is-3d-danger
    +button-3d-color($danger)
  &.is-3d-disabled
    +button-3d-color($disabled)
    pointer-events: none

  //size
  &.is-xs
    +button-size(.75rem, 1, 2em)
    font-weight: 600
  &.is-sm
    +button-size(.875rem, 1.25, .6875)
    font-weight: 600
  &.is-md
    +button-size(1rem, 1, 2.75rem)
    font-weight: 600
  &.is-lg
    +button-size(1.25rem, 1, .4)
    font-weight: 600
  &.is-xl
    +button-size(1.5rem, .625, .2)
    font-weight: 700

  &.is-icon
    +padding(horizontal, .5em)
    i
      font-size: 1.125em
