.m-media-attributes
  display: flex

.m-media-attributes__row
  .m-media-attributes__row + &
    margin-top: .375rem

.m-media-attributes__title
  +text-block(1em 1.38, 600)
  margin-bottom: -.125em

.m-media-attributes__date
  +text-block(1.45, $muted-text)

.m-media-attributes__author
  +text-block(1.45, $muted-text flex)
  align-items: center
  .a-circle-image
    +size(1.428em)
    margin-right: .25em
