$base-size: .25rem
$size-count: 20
$rem: strip_unit($rem)

=generate-margin($breakpoint-scope: false, $base-size: $base-size, $size-count: $size-count)
  @for $i from 0 through $size-count
    @if $breakpoint-scope == false
      .u-m-#{strip_unit($i * $base-size * $rem)}
        margin: $i * $base-size
      .u-mt-#{strip_unit($i * $base-size * $rem)}
        margin-top: $i * $base-size
      .u-mr-#{strip_unit($i * $base-size * $rem)}
        margin-right: $i * $base-size
      .u-mb-#{strip_unit($i * $base-size * $rem)}
        margin-bottom: $i * $base-size
      .u-ml-#{strip_unit($i * $base-size * $rem)}
        margin-left: $i * $base-size
      .u-m-vr-#{$i}
        margin: vr($i)
      .u-mt-vr-#{$i}
        margin-top: vr($i)
      .u-mr-vr-#{$i}
        margin-right: vr($i)
      .u-mb-vr-#{$i}
        margin-bottom: vr($i)
      .u-ml-vr-#{$i}
        margin-left: vr($i)
    @else
      .#{$breakpoint-scope}\:u-m-#{strip_unit($i * $base-size * $rem)}
        margin: $i * $base-size
      .#{$breakpoint-scope}\:u-mt-#{strip_unit($i * $base-size * $rem)}
        margin-top: $i * $base-size
      .#{$breakpoint-scope}\:u-mr-#{strip_unit($i * $base-size * $rem)}
        margin-right: $i * $base-size
      .#{$breakpoint-scope}\:u-mb#{strip_unit($i * $base-size * $rem)}
        margin-bottom: $i * $base-size
      .#{$breakpoint-scope}\:u-ml#{strip_unit($i * $base-size * $rem)}
        margin-left: $i * $base-size
      .#{$breakpoint-scope}\:u-m-vr-#{$i}
        margin: vr($i)
      .#{$breakpoint-scope}\:u-mt-vr-#{$i}
        margin-top: vr($i)
      .#{$breakpoint-scope}\:u-mr-vr-#{$i}
        margin-right: vr($i)
      .#{$breakpoint-scope}\:u-mb-vr-#{$i}
        margin-bottom: vr($i)
      .#{$breakpoint-scope}\:u-ml-vr-#{$i}
        margin-left: vr($i)

+generate-margin(false)
@each $breakpoint in map-keys($grid-breakpoints)
  +media-breakpoint-only(#{$breakpoint})
    +generate-margin($breakpoint)
  +media-breakpoint-down(#{$breakpoint})
    +generate-margin($breakpoint + "-down")
  +media-breakpoint-up(#{$breakpoint})
    +generate-margin($breakpoint + "-up")
